---
layout: default
header_cars: [lf_sonata, all_new_carnival, new_genesis, new_grandeur_hg, k7, k5, yf_sonata, carnival, new_grand_starex]
sliders: ['home/slider_01.png', 'home/slider_02.png', 'home/slider_03.png']
---


<script>
	$(function(){
  		$('#home-slider').slick({
  			autoplay:true,
  			autoplaySpeed:3000
  		});
	});
</script>

<div class="container">
	<div id="home-products">
		{% for header_car in page.header_cars %}
			{% assign car = site.data.cars[header_car] %}
			<div class="product">
				<img src="/assets/img/{{ car.image.cover }}">
				<span>{{ car.name }} </span>
			</div>
		{% endfor %}
	</div>

	<div id="home-slider">
		{% for slider in page.sliders %}
	  		<div><img src="/assets/img/{{ slider }}"></div>
		{% endfor %}
	</div>
</div>