<a class="anchor" name="caution" id="caution"></a>

<div class="row">
	<div class="col-md-12" style="height: 3px; background-color: black;"></div>

	<div class="col-md-12" style="background-color: #eeeeee; padding-bottom:10px;">
		<div class="row">
			<div class="col-md-offset-1 col-md-3 col-sm-12">
				<h2>주의사항</h2>
			</div>

			<div class="col-md-8 col-sm-12 hidden-sm hidden-xs">
				<h2><small>안정감과 편안함을 추구하는 {{ site.data.pages.company.name }}</small></h2>
			</div>
		</div>
	</div>

	<div class="col-md-12" style="height: 1px; background-color: #ccc;"></div>
</div>

<div class="contents">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6">
			<ul class="rounded-list non-count">
				<li>
					<a>영업시간</a>
					<ul>
						<li>AM 08:30 ~ PM 09:00</li>
					</ul>
				</li>

				<li>
					<a>제2운전자 등록이 가능합니다.</a>
				</li>

				<li>
					<a>렌터카 자차보험은 별도입니다.</a>
					<ul>
						<li>대인 대물 자손은 가입되어 있습니다.</li>
					</ul>
				</li>

				<li>
					<a>자차 보험 가입시 유의사항</a>
					<ul>
						<li>차대차 사고만 해당 승용 승합 7백 보상한도</li>
						<li>면책금 승용 30만 승합 50만 / 수리간영업손실 /차량감가</li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6">
			<ul class="rounded-list non-count">
				<li>
					<a>사고시 고객님의 책임 범위</a>
					<ul>
						<li>본인 부담금 보험 적부시 면책금 30만원 (가해자일 경우만 발생합니다.)</li>
						<li>자차 수리비및 차량감가 / 수리기간 영업손실</li>
					</ul>
				</li>

				<li>
					<a>연료는 인수할 당시 만큼만 넣어 주세요.</a>
					<ul>
						<li>부족시 한 눈금당 LPG:20,000원 경유:30,000원</li>
					</ul>
				</li>

				<li>
					<a>중도해지시 위약금이 발생할 수 있습니다.</a>
					<ul>
						<li>운전중 휴대전화 사용과 DMB 시청은 음주 운전보다 더 위험 합니다. - 적발시 벌침금 6만원 벌점 15점</li>
					</ul>
				</li>

				<li>
					<a>반납기간이 넘어가면 초과요금이 발생됩니다.</a>
					<ul>
						<li>주간(AM 08:30 ~ PM 09:00) 시간당 10,000원</li>
						<li>야간(PM 09:00 ~ AM 08:30) 30,000 ~ 50,000원</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>