<div class="hidden-xs">
	<a class="anchor" name="detail_price" id="detail_price"></a>


	<div class="row">
		<div class="col-md-12" style="height: 3px; background-color: black;"></div>

		<div class="col-md-12" style="background-color: #eeeeee; padding-bottom:10px;">
			<div class="row">
				<div class="col-md-offset-1 col-md-3 col-sm-12">
					<h2>세부가격표</h2>
				</div>

				<div class="col-md-8 col-sm-12 hidden-sm hidden-xs">
					<h2><small>안정감과 편안함을 추구하는 {{ site.data.pages.company.name }}</small></h2>
				</div>
			</div>
		</div>

		<div class="col-md-12" style="height: 1px; background-color: #ccc;"></div>
	</div>

	<div class="contents">
		<div class="row">
			<div class="hidden-xs">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h1 class="page-header first-header"><strong>소형</strong></h1>
				</div>

				<table class="table table-hover table-center car-detail-table">
					<tr class="info">
						<td colspan="2"><h4><strong>렌트카 차종</strong></h4></td>
						<td colspan="4"><h4><strong>렌터카 대여기간별 일일요금</strong></h4></td>
						<td><h4><strong>추가요금</strong></h4></td>
					</tr>
					<tr>d
						<td class="col-sm-2"></td>
						<td></td>
						<td class="text-info">1~2일<br>(24시간)</td>
						<td class="text-info">3~4일<br>(24시간)</td>
						<td class="text-info">5~6일<br>(24시간)</td>
						<td class="text-info">7일+<br>(24시간)</td>
						<td>(1시간마다)</td>
					</tr>

					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/avante_md.png">
								<h4 class="visible-sm text-primary"><label>아반테 MD</label> <label> (LPG)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>아반테 MD</label> <label> (LPG)</label></h4>
						</td>
						<td>60,000</td>
						<td>55,000</td>
						<td>50,000</td>
						<td>45,000</td>
						<td>5,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/new_k3.png">
								<h4 class="visible-sm text-primary"><label>신형 K3</label> <label> (가솔린)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>신형 K3</label> <label> (가솔린)</label></h4>
						</td>
						<td>60,000</td>
						<td>55,000</td>
						<td>50,000</td>
						<td>45,000</td>
						<td>5,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/avante_ad.png">
								<h4 class="visible-sm text-primary"><label>신형 아반테 AD</label> <label> (LPG)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>신형 아반테 AD</label> <label> (LPG)</label></h4>
						</td>
						<td>65,000</td>
						<td>55,000</td>
						<td>50,000</td>
						<td>45,000</td>
						<td>5,000</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="hidden-xs">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h1 class="page-header first-header"><strong>중형</strong></h1>
				</div>

				<table class="table table-hover table-center car-detail-table">
					<tr class="info">
						<td colspan="2"><h4><strong>렌트카 차종</strong></h4></td>
						<td colspan="4"><h4><strong>렌터카 대여기간별 일일요금</strong></h4></td>
						<td><h4><strong>추가요금</strong></h4></td>
					</tr>
					<tr>
						<td class="col-sm-2"></td>
						<td></td>
						<td class="text-info">1~2일<br>(24시간)</td>
						<td class="text-info">3~4일<br>(24시간)</td>
						<td class="text-info">5~6일<br>(24시간)</td>
						<td class="text-info">7일+<br>(24시간)</td>
						<td>(1시간마다)</td>
					</tr>

					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/sonata_new_rise.png">
								<h4 class="visible-sm text-primary"><label>소나타 뉴 라이즈</label> <label></label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>소나타 뉴 라이즈</label> <label></label></h4>
						</td>
						<td>80,000</td>
						<td>75,000</td>
						<td>70,000</td>
						<td>65,000</td>
						<td>7,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/lf_sonata.png">
								<h4 class="visible-sm text-primary"><label>LF소나타</label> <label> (LPG)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>LF소나타</label> <label> (LPG)</label></h4>
						</td>
						<td>80,000</td>
						<td>75,000</td>
						<td>70,000</td>
						<td>65,000</td>
						<td>7,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/k5.png">
								<h4 class="visible-sm text-primary"><label>K5</label> <label> (LPG)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>K5</label> <label> (LPG)</label></h4>
						</td>
						<td>70,000</td>
						<td>65,000</td>
						<td>60,000</td>
						<td>55,000</td>
						<td>7,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/new_k5.png">
								<h4 class="visible-sm text-primary"><label>올뉴 K5</label> <label> (LPG)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>올뉴 K5</label> <label> (LPG)</label></h4>
						</td>
						<td>80,000</td>
						<td>65,000</td>
						<td>60,000</td>
						<td>55,000</td>
						<td>7,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/sm5.png">
								<h4 class="visible-sm text-primary"><label>SM5</label> <label></label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>SM5</label> <label></label></h4>
						</td>
						<td>70,000</td>
						<td>65,000</td>
						<td>60,000</td>
						<td>55,000</td>
						<td>7,000</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="hidden-xs">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h1 class="page-header first-header"><strong>고급형</strong></h1>
				</div>

				<table class="table table-hover table-center car-detail-table">
					<tr class="info">
						<td colspan="2"><h4><strong>렌트카 차종</strong></h4></td>
						<td colspan="4"><h4><strong>렌터카 대여기간별 일일요금</strong></h4></td>
						<td><h4><strong>추가요금</strong></h4></td>
					</tr>
					<tr>
						<td class="col-sm-2"></td>
						<td></td>
						<td class="text-info">1~2일<br>(24시간)</td>
						<td class="text-info">3~4일<br>(24시간)</td>
						<td class="text-info">5~6일<br>(24시간)</td>
						<td class="text-info">7일+<br>(24시간)</td>
						<td>(1시간마다)</td>
					</tr>

					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/k7.png">
								<h4 class="visible-sm text-primary"><label>K7</label> <label></label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>K7</label> <label></label></h4>
						</td>
						<td>100,000</td>
						<td>90,000</td>
						<td>80,000</td>
						<td>70,000</td>
						<td>10,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/grandure_hg.png">
								<h4 class="visible-sm text-primary"><label>그랜져 HG</label> <label> (가솔린/LPG)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>그랜져 HG</label> <label> (가솔린/LPG)</label></h4>
						</td>
						<td>105,000</td>
						<td>100,000</td>
						<td>90,000</td>
						<td>80,000</td>
						<td>10,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/sm7.png">
								<h4 class="visible-sm text-primary"><label>SM7</label> <label></label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>SM7</label> <label></label></h4>
						</td>
						<td>105,000</td>
						<td>100,000</td>
						<td>90,000</td>
						<td>80,000</td>
						<td>10,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/genesis.png">
								<h4 class="visible-sm text-primary"><label>제네시스 신형</label> <label> (가솔린)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>제네시스 신형</label> <label> (가솔린)</label></h4>
						</td>
						<td>200,000</td>
						<td>200,000</td>
						<td>220,000</td>
						<td>170,000</td>
						<td>20,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/k9.png">
								<h4 class="visible-sm text-primary"><label>K9</label> <label></label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>K9</label> <label></label></h4>
						</td>
						<td>220,000</td>
						<td>200,000</td>
						<td>180,000</td>
						<td>170,000</td>
						<td>20,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/chairman.png">
								<h4 class="visible-sm text-primary"><label>체어맨</label> <label></label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>체어맨</label> <label></label></h4>
						</td>
						<td>280,000</td>
						<td>260,000</td>
						<td>240,000</td>
						<td>230,000</td>
						<td>30,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/equus.png">
								<h4 class="visible-sm text-primary"><label>에쿠스</label> <label></label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>에쿠스</label> <label></label></h4>
						</td>
						<td>300,000</td>
						<td>280,000</td>
						<td>260,000</td>
						<td>250,000</td>
						<td>30,000</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="hidden-xs">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h1 class="page-header first-header"><strong>승합차</strong></h1>
				</div>

				<table class="table table-hover table-center car-detail-table">
					<tr class="info">
						<td colspan="2"><h4><strong>렌트카 차종</strong></h4></td>
						<td colspan="4"><h4><strong>렌터카 대여기간별 일일요금</strong></h4></td>
						<td><h4><strong>추가요금</strong></h4></td>
					</tr>
					<tr>
						<td class="col-sm-2"></td>
						<td></td>
						<td class="text-info">1~2일<br>(9시~21시)</td>
						<td class="text-info">3~4일<br>(9시~21시)</td>
						<td class="text-info">5~6일<br>(9시~21시)</td>
						<td class="text-info">7일+<br>(9시~21시)</td>
						<td>(1시간마다)</td>
					</tr>

					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/grand_starex.png">
								<h4 class="visible-sm text-primary"><label>그랜드 스타렉스 신형</label> <label> (경유)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>그랜드 스타렉스 신형</label> <label> (경유)</label></h4>
						</td>
						<td>100,000</td>
						<td>95,000</td>
						<td>90,000</td>
						<td>90,000</td>
						<td>10,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/carnival.png">
								<h4 class="visible-sm text-primary"><label>카니발 9인승&11인승</label> <label></label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>카니발 9인승&11인승</label> <label></label></h4>
						</td>
						<td>120,000</td>
						<td>110,000</td>
						<td>110,000</td>
						<td>100,000</td>
						<td>10,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/allnew_carnival.png">
								<h4 class="visible-sm text-primary"><label>올뉴카니발 신형</label> <label> (경유)</label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>올뉴카니발 신형</label> <label> (경유)</label></h4>
						</td>
						<td>130,000</td>
						<td>120,000</td>
						<td>120,000</td>
						<td>110,000</td>
						<td>15,000</td>
					</tr>
					<tr>
						<td>
							<p class="text-center">
								<img style="height: 80px; width: auto" src="/assets/img/car/county.png">
								<h4 class="visible-sm text-primary"><label>카운티(15인승)</label> <label></label></h4>
							</p>
						</td>
						<td class="text-primary">
							<h4 class="hidden-sm"><label>카운티(15인승)</label> <label></label></h4>
						</td>
						<td>300,000</td>
						<td>280,000</td>
						<td>280,000</td>
						<td>260,000</td>
						<td>35,000</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="visible-xs">
	<a class="anchor" name="etc_car" id="etc_car"></a>


	<div class="row">
		<div class="col-md-12" style="height: 3px; background-color: black;"></div>

		<div class="col-md-12" style="background-color: #eeeeee; padding-bottom:10px;">
			<div class="row">
				<div class="col-md-offset-1 col-md-3 col-sm-12">
					<h2>기타차량</h2>
				</div>

				<div class="col-md-8 col-sm-12 hidden-sm hidden-xs">
					<h2><small>안정감과 편안함을 추구하는 {{ site.data.pages.company.name }}</small></h2>
				</div>
			</div>
		</div>

		<div class="col-md-12" style="height: 1px; background-color: #ccc;"></div>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-4 hidden-xs">
			<div style="margin-top:10px; margin-bottom: 10px;">
				<table style="height: 100%;">
					<tbody>
						<tr>
							<td class="car-image">
								<img src="/assets/img/car/sm5.png">
							</td>
							<td class="car-info">
								<div class="title">SM5 <label></label></div>
								<div class="price">
									<label><span class="title">주중 </span><span class="number">70,000원</span></label>
									<label><span class="title">주말 </span><span class="number">70,000원</span></label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-xs-6 visible-xs car-info-xs">
			<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
				<table style="height: 100%;">
					<tbody>
						<tr>
							<td style="text-align: center">
								<div class="title">SM5 <label></label></div>
							</td>
						</tr>
						<tr>
							<td class="car-image">
								<img src="/assets/img/car/sm5.png">
							</td>
						</tr>
						<tr>
							<td style="text-align: center">
								<div class="price">
									<label><span class="title">주중 </span><span class="number">70,000원</span></label>
									<label><span class="title">주말 </span><span class="number">70,000원</span></label>
								</div>
								<div class="visible-xs">
									<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_SM5">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>



		<div class="modal" id="detial_price_SM5" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title"><label>SM5</label> <label></h4>
							<table class="table table-center">
								<tr>
									<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/sm5.png"></p></td>
								</tr>
								<tr>
									<td class="success  text-right">1~2일 (24시간)</td>
									<td>70,000</td>
								</tr>
								<tr>
									<td class="success  text-right">3~4일 (24시간)</td>
									<td>65,000</td>
								</tr>
								<tr>
									<td class="success  text-right">5~6일 (24시간)</td>
									<td>60,000</td>
								</tr>
								<tr>
									<td class="success text-right">7일+ (24시간)</td>
									<td>55,000</td>
								</tr>
								<tr>
									<td class="success text-right">(1시간마다)</td>
									<td>7,000</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-4 col-sm-4 hidden-xs">
				<div style="margin-top:10px; margin-bottom: 10px;">
					<table style="height: 100%;">
						<tbody>
							<tr>
								<td class="car-image">
									<img src="/assets/img/car/k7.png">
								</td>
								<td class="car-info">
									<div class="title">K7 <label></label></div>
									<div class="price">
										<label><span class="title">주중 </span><span class="number">100,000원</span></label>
										<label><span class="title">주말 </span><span class="number">100,000원</span></label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-xs-6 visible-xs car-info-xs">
				<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
					<table style="height: 100%;">
						<tbody>
							<tr>
								<td style="text-align: center">
									<div class="title">K7 <label></label></div>
								</td>
							</tr>
							<tr>
								<td class="car-image">
									<img src="/assets/img/car/k7.png">
								</td>
							</tr>
							<tr>
								<td style="text-align: center">
									<div class="price">
										<label><span class="title">주중 </span><span class="number">100,000원</span></label>
										<label><span class="title">주말 </span><span class="number">100,000원</span></label>
									</div>
									<div class="visible-xs">
										<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_K7">
											<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>



			<div class="modal" id="detial_price_K7" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title"><label>K7</label> <label></h4>
								<table class="table table-center">
									<tr>
										<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/k7.png"></p></td>
									</tr>
									<tr>
										<td class="success  text-right">1~2일 (24시간)</td>
										<td>100,000</td>
									</tr>
									<tr>
										<td class="success  text-right">3~4일 (24시간)</td>
										<td>90,000</td>
									</tr>
									<tr>
										<td class="success  text-right">5~6일 (24시간)</td>
										<td>80,000</td>
									</tr>
									<tr>
										<td class="success text-right">7일+ (24시간)</td>
										<td>70,000</td>
									</tr>
									<tr>
										<td class="success text-right">(1시간마다)</td>
										<td>10,000</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>


				<div class="col-md-4 col-sm-4 hidden-xs">
					<div style="margin-top:10px; margin-bottom: 10px;">
						<table style="height: 100%;">
							<tbody>
								<tr>
									<td class="car-image">
										<img src="/assets/img/car/sm7.png">
									</td>
									<td class="car-info">
										<div class="title">SM7 <label></label></div>
										<div class="price">
											<label><span class="title">주중 </span><span class="number">105,000원</span></label>
											<label><span class="title">주말 </span><span class="number">105,000원</span></label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-xs-6 visible-xs car-info-xs">
					<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
						<table style="height: 100%;">
							<tbody>
								<tr>
									<td style="text-align: center">
										<div class="title">SM7 <label></label></div>
									</td>
								</tr>
								<tr>
									<td class="car-image">
										<img src="/assets/img/car/sm7.png">
									</td>
								</tr>
								<tr>
									<td style="text-align: center">
										<div class="price">
											<label><span class="title">주중 </span><span class="number">105,000원</span></label>
											<label><span class="title">주말 </span><span class="number">105,000원</span></label>
										</div>
										<div class="visible-xs">
											<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_SM7">
												<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>



				<div class="modal" id="detial_price_SM7" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title"><label>SM7</label> <label></h4>
									<table class="table table-center">
										<tr>
											<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/sm7.png"></p></td>
										</tr>
										<tr>
											<td class="success  text-right">1~2일 (24시간)</td>
											<td>105,000</td>
										</tr>
										<tr>
											<td class="success  text-right">3~4일 (24시간)</td>
											<td>100,000</td>
										</tr>
										<tr>
											<td class="success  text-right">5~6일 (24시간)</td>
											<td>90,000</td>
										</tr>
										<tr>
											<td class="success text-right">7일+ (24시간)</td>
											<td>80,000</td>
										</tr>
										<tr>
											<td class="success text-right">(1시간마다)</td>
											<td>10,000</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>


					<div class="col-md-4 col-sm-4 hidden-xs">
						<div style="margin-top:10px; margin-bottom: 10px;">
							<table style="height: 100%;">
								<tbody>
									<tr>
										<td class="car-image">
											<img src="/assets/img/car/k9.png">
										</td>
										<td class="car-info">
											<div class="title">K9 <label></label></div>
											<div class="price">
												<label><span class="title">주중 </span><span class="number">220,000원</span></label>
												<label><span class="title">주말 </span><span class="number">220,000원</span></label>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-xs-6 visible-xs car-info-xs">
						<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
							<table style="height: 100%;">
								<tbody>
									<tr>
										<td style="text-align: center">
											<div class="title">K9 <label></label></div>
										</td>
									</tr>
									<tr>
										<td class="car-image">
											<img src="/assets/img/car/k9.png">
										</td>
									</tr>
									<tr>
										<td style="text-align: center">
											<div class="price">
												<label><span class="title">주중 </span><span class="number">220,000원</span></label>
												<label><span class="title">주말 </span><span class="number">220,000원</span></label>
											</div>
											<div class="visible-xs">
												<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_K9">
													<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>



					<div class="modal" id="detial_price_K9" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-body">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title"><label>K9</label> <label></h4>
										<table class="table table-center">
											<tr>
												<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/k9.png"></p></td>
											</tr>
											<tr>
												<td class="success  text-right">1~2일 (24시간)</td>
												<td>220,000</td>
											</tr>
											<tr>
												<td class="success  text-right">3~4일 (24시간)</td>
												<td>200,000</td>
											</tr>
											<tr>
												<td class="success  text-right">5~6일 (24시간)</td>
												<td>180,000</td>
											</tr>
											<tr>
												<td class="success text-right">7일+ (24시간)</td>
												<td>170,000</td>
											</tr>
											<tr>
												<td class="success text-right">(1시간마다)</td>
												<td>20,000</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-4 col-sm-4 hidden-xs">
							<div style="margin-top:10px; margin-bottom: 10px;">
								<table style="height: 100%;">
									<tbody>
										<tr>
											<td class="car-image">
												<img src="/assets/img/car/chairman.png">
											</td>
											<td class="car-info">
												<div class="title">체어맨 <label></label></div>
												<div class="price">
													<label><span class="title">주중 </span><span class="number">280,000원</span></label>
													<label><span class="title">주말 </span><span class="number">280,000원</span></label>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="col-xs-6 visible-xs car-info-xs">
							<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
								<table style="height: 100%;">
									<tbody>
										<tr>
											<td style="text-align: center">
												<div class="title">체어맨 <label></label></div>
											</td>
										</tr>
										<tr>
											<td class="car-image">
												<img src="/assets/img/car/chairman.png">
											</td>
										</tr>
										<tr>
											<td style="text-align: center">
												<div class="price">
													<label><span class="title">주중 </span><span class="number">280,000원</span></label>
													<label><span class="title">주말 </span><span class="number">280,000원</span></label>
												</div>
												<div class="visible-xs">
													<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_ChairMan">
														<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
													</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>



						<div class="modal" id="detial_price_ChairMan" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-body">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title"><label>체어맨</label> <label></h4>
											<table class="table table-center">
												<tr>
													<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/chairman.png"></p></td>
												</tr>
												<tr>
													<td class="success  text-right">1~2일 (24시간)</td>
													<td>280,000</td>
												</tr>
												<tr>
													<td class="success  text-right">3~4일 (24시간)</td>
													<td>260,000</td>
												</tr>
												<tr>
													<td class="success  text-right">5~6일 (24시간)</td>
													<td>240,000</td>
												</tr>
												<tr>
													<td class="success text-right">7일+ (24시간)</td>
													<td>230,000</td>
												</tr>
												<tr>
													<td class="success text-right">(1시간마다)</td>
													<td>30,000</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>


							<div class="col-md-4 col-sm-4 hidden-xs">
								<div style="margin-top:10px; margin-bottom: 10px;">
									<table style="height: 100%;">
										<tbody>
											<tr>
												<td class="car-image">
													<img src="/assets/img/car/equus.png">
												</td>
												<td class="car-info">
													<div class="title">에쿠스 <label></label></div>
													<div class="price">
														<label><span class="title">주중 </span><span class="number">300,000원</span></label>
														<label><span class="title">주말 </span><span class="number">문의</span></label>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="col-xs-6 visible-xs car-info-xs">
								<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
									<table style="height: 100%;">
										<tbody>
											<tr>
												<td style="text-align: center">
													<div class="title">에쿠스 <label></label></div>
												</td>
											</tr>
											<tr>
												<td class="car-image">
													<img src="/assets/img/car/equus.png">
												</td>
											</tr>
											<tr>
												<td style="text-align: center">
													<div class="price">
														<label><span class="title">주중 </span><span class="number">300,000원</span></label>
														<label><span class="title">주말 </span><span class="number">문의</span></label>
													</div>
													<div class="visible-xs">
														<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_Equus">
															<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
														</button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>



							<div class="modal" id="detial_price_Equus" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-body">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title"><label>에쿠스</label> <label></h4>
												<table class="table table-center">
													<tr>
														<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/equus.png"></p></td>
													</tr>
													<tr>
														<td class="success  text-right">1~2일 (24시간)</td>
														<td>300,000</td>
													</tr>
													<tr>
														<td class="success  text-right">3~4일 (24시간)</td>
														<td>280,000</td>
													</tr>
													<tr>
														<td class="success  text-right">5~6일 (24시간)</td>
														<td>260,000</td>
													</tr>
													<tr>
														<td class="success text-right">7일+ (24시간)</td>
														<td>250,000</td>
													</tr>
													<tr>
														<td class="success text-right">(1시간마다)</td>
														<td>30,000</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>


								<div class="col-md-4 col-sm-4 hidden-xs">
									<div style="margin-top:10px; margin-bottom: 10px;">
										<table style="height: 100%;">
											<tbody>
												<tr>
													<td class="car-image">
														<img src="/assets/img/car/carnival.png">
													</td>
													<td class="car-info">
														<div class="title">카니발 9인승&11인승 <label></label></div>
														<div class="price">
															<label><span class="title">주중 </span><span class="number">120,000원</span></label>
															<label><span class="title">주말 </span><span class="number">130,000원</span></label>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="col-xs-6 visible-xs car-info-xs">
									<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
										<table style="height: 100%;">
											<tbody>
												<tr>
													<td style="text-align: center">
														<div class="title">카니발 9인승&11인승 <label></label></div>
													</td>
												</tr>
												<tr>
													<td class="car-image">
														<img src="/assets/img/car/carnival.png">
													</td>
												</tr>
												<tr>
													<td style="text-align: center">
														<div class="price">
															<label><span class="title">주중 </span><span class="number">120,000원</span></label>
															<label><span class="title">주말 </span><span class="number">130,000원</span></label>
														</div>
														<div class="visible-xs">
															<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_Carnival">
																<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
															</button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>



								<div class="modal" id="detial_price_Carnival" tabindex="-1" role="dialog">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-body">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title"><label>카니발 9인승&11인승</label> <label></h4>
													<table class="table table-center">
														<tr>
															<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/carnival.png"></p></td>
														</tr>
														<tr>
															<td class="success  text-right">1~2일 (9시~21시)</td>
															<td>120,000</td>
														</tr>
														<tr>
															<td class="success  text-right">3~4일 (9시~21시)</td>
															<td>110,000</td>
														</tr>
														<tr>
															<td class="success  text-right">5~6일 (9시~21시)</td>
															<td>110,000</td>
														</tr>
														<tr>
															<td class="success text-right">7일+ (9시~21시)</td>
															<td>100,000</td>
														</tr>
														<tr>
															<td class="success text-right">(1시간마다)</td>
															<td>10,000</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
									</div>


									<div class="col-md-4 col-sm-4 hidden-xs">
										<div style="margin-top:10px; margin-bottom: 10px;">
											<table style="height: 100%;">
												<tbody>
													<tr>
														<td class="car-image">
															<img src="/assets/img/car/county.png">
														</td>
														<td class="car-info">
															<div class="title">카운티(15인승) <label></label></div>
															<div class="price">
																<label><span class="title">주중 </span><span class="number">300,000원</span></label>
																<label><span class="title">주말 </span><span class="number">320,000원</span></label>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<div class="col-xs-6 visible-xs car-info-xs">
										<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
											<table style="height: 100%;">
												<tbody>
													<tr>
														<td style="text-align: center">
															<div class="title">카운티(15인승) <label></label></div>
														</td>
													</tr>
													<tr>
														<td class="car-image">
															<img src="/assets/img/car/county.png">
														</td>
													</tr>
													<tr>
														<td style="text-align: center">
															<div class="price">
																<label><span class="title">주중 </span><span class="number">300,000원</span></label>
																<label><span class="title">주말 </span><span class="number">320,000원</span></label>
															</div>
															<div class="visible-xs">
																<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_County">
																	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
																</button>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>



									<div class="modal" id="detial_price_County" tabindex="-1" role="dialog">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-body">
													<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
													<h4 class="modal-title"><label>카운티(15인승)</label> <label></h4>
														<table class="table table-center">
															<tr>
																<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/county.png"></p></td>
															</tr>
															<tr>
																<td class="success  text-right">1~2일 (9시~21시)</td>
																<td>300,000</td>
															</tr>
															<tr>
																<td class="success  text-right">3~4일 (9시~21시)</td>
																<td>280,000</td>
															</tr>
															<tr>
																<td class="success  text-right">5~6일 (9시~21시)</td>
																<td>280,000</td>
															</tr>
															<tr>
																<td class="success text-right">7일+ (9시~21시)</td>
																<td>260,000</td>
															</tr>
															<tr>
																<td class="success text-right">(1시간마다)</td>
																<td>35,000</td>
															</tr>
														</table>
													</div>
												</div>
											</div>
										</div>


									</div>
								</div>

								<div class="contents">
									<div class="row">
										<div class="col-md-12">
											<strong>
												* 모든 요금은 부가세(V.A.T) 별도 가격입니다.<br>
												* 모든 요금은 계절 및 주말에 따라 변동이 있습니다.<br>
												* 승합차(25, 35, 45 인승) 요금은 전화 문의 바랍니다.<br>
											</strong>
										</div>
									</div>
								</div>