<a class="anchor" name="domestic_car" id="domestic_car"></a>

<div class="row">
	<div class="col-md-12" style="height: 3px; background-color: black;"></div>

	<div class="col-md-12" style="background-color: #eeeeee; padding-bottom:10px;">
		<div class="row">
			<div class="col-md-offset-1 col-md-3 col-sm-12">
				<h2>국내차량</h2>
			</div>

			<div class="col-md-8 col-sm-12 hidden-sm hidden-xs">
				<h2><small>안정감과 편안함을 추구하는 {{ site.data.pages.company.name }}</small></h2>
			</div>
		</div>
	</div>

	<div class="col-md-12" style="height: 1px; background-color: #ccc;"></div>
</div>

<div class="row">


	<div class="col-md-4 col-sm-4 hidden-xs">
		<div style="margin-top:10px; margin-bottom: 10px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/new_k3.png">
						</td>
						<td class="car-info">
							<div class="title">신형 K3 <label> (가솔린)</label></div>
							<div class="price">
								<label><span class="title">주중 </span><span class="number">60,000원</span></label>
								<label><span class="title">주말 </span><span class="number">70,000원</span></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 visible-xs car-info-xs">
		<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td style="text-align: center">
							<div class="title">신형 K3 <label> (가솔린)</label></div>
						</td>
					</tr>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/new_k3.png">
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<div class="price">
								<label><span class="title">주중 </span><span class="number">60,000원</span></label>
								<label><span class="title">주말 </span><span class="number">70,000원</span></label>
							</div>
							<div class="visible-xs">
								<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_K3">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal" id="detial_price_K3" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><label>신형 K3</label> <label> (가솔린)</label></h4>
					<table class="table table-center">
						<tr>
							<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/new_k3.png"></p></td>
						</tr>
						<tr>
							<td class="success  text-right">1~2일 (24시간)</td>
							<td>60,000</td>
						</tr>
						<tr>
							<td class="success  text-right">3~4일 (24시간)</td>
							<td>55,000</td>
						</tr>
						<tr>
							<td class="success  text-right">5~6일 (24시간)</td>
							<td>50,000</td>
						</tr>
						<tr>
							<td class="success text-right">7일+ (24시간)</td>
							<td>45,000</td>
						</tr>
						<tr>
							<td class="success text-right">(1시간마다)</td>
							<td>5,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-4 col-sm-4 hidden-xs">
		<div style="margin-top:10px; margin-bottom: 10px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/avante_ad.png">
						</td>
						<td class="car-info">
							<div class="title">신형 아반테 AD <label> (LPG)</label></div>
							<div class="price">
								<label><span class="title">주중 </span><span class="number">65,000원</span></label>
								<label><span class="title">주말 </span><span class="number">70,000원</span></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 visible-xs car-info-xs">
		<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td style="text-align: center">
							<div class="title">신형 아반테 AD <label> (LPG)</label></div>
						</td>
					</tr>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/avante_ad.png">
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<div class="price">
								<label><span class="title">주중 </span><span class="number">65,000원</span></label>
								<label><span class="title">주말 </span><span class="number">70,000원</span></label>
							</div>
							<div class="visible-xs">
								<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_AvanteAD">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal" id="detial_price_AvanteAD" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><label>신형 아반테 AD</label> <label> (LPG)</label></h4>
					<table class="table table-center">
						<tr>
							<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/avante_ad.png"></p></td>
						</tr>
						<tr>
							<td class="success  text-right">1~2일 (24시간)</td>
							<td>65,000</td>
						</tr>
						<tr>
							<td class="success  text-right">3~4일 (24시간)</td>
							<td>55,000</td>
						</tr>
						<tr>
							<td class="success  text-right">5~6일 (24시간)</td>
							<td>50,000</td>
						</tr>
						<tr>
							<td class="success text-right">7일+ (24시간)</td>
							<td>45,000</td>
						</tr>
						<tr>
							<td class="success text-right">(1시간마다)</td>
							<td>5,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-4 hidden-xs">
		<div style="margin-top:10px; margin-bottom: 10px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/new_k5.png">
						</td>
						<td class="car-info">
							<div class="title">올뉴 K5 <label> (LPG)</label></div>
							<div class="price">
								<label><span class="title">주중 </span><span class="number">80,000원</span></label>
								<label><span class="title">주말 </span><span class="number">90,000원</span></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 visible-xs car-info-xs">
		<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td style="text-align: center">
							<div class="title">올뉴 K5 <label> (LPG)</label></div>
						</td>
					</tr>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/new_k5.png">
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<div class="price">
								<label><span class="title">주중 </span><span class="number">80,000원</span></label>
								<label><span class="title">주말 </span><span class="number">90,000원</span></label>
							</div>
							<div class="visible-xs">
								<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_NewK5">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal" id="detial_price_NewK5" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><label>올뉴 K5</label> <label> (LPG)</label></h4>
					<table class="table table-center">
						<tr>
							<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/new_k5.png"></p></td>
						</tr>
						<tr>
							<td class="success  text-right">1~2일 (24시간)</td>
							<td>80,000</td>
						</tr>
						<tr>
							<td class="success  text-right">3~4일 (24시간)</td>
							<td>65,000</td>
						</tr>
						<tr>
							<td class="success  text-right">5~6일 (24시간)</td>
							<td>60,000</td>
						</tr>
						<tr>
							<td class="success text-right">7일+ (24시간)</td>
							<td>55,000</td>
						</tr>
						<tr>
							<td class="success text-right">(1시간마다)</td>
							<td>7,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-4 col-sm-4 hidden-xs">
		<div style="margin-top:10px; margin-bottom: 10px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/sonata_new_rise.png">
						</td>
						<td class="car-info">
							<div class="title">소나타 뉴 라이즈 <label></label></div>
							<div class="price">
								<label><span class="title">주중 </span><span class="number">80,000원</span></label>
								<label><span class="title">주말 </span><span class="number">90,000원</span></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 visible-xs car-info-xs">
		<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td style="text-align: center">
							<div class="title">소나타 뉴 라이즈 <label></label></div>
						</td>
					</tr>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/sonata_new_rise.png">
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<div class="price">
								<label><span class="title">주중 </span><span class="number">80,000원</span></label>
								<label><span class="title">주말 </span><span class="number">90,000원</span></label>
							</div>
							<div class="visible-xs">
								<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_NEW_RISE">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal" id="detial_price_NEW_RISE" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><label>소나타 뉴 라이즈</label> <label></label></h4>
					<table class="table table-center">
						<tr>
							<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/sonata_new_rise.png"></p></td>
						</tr>
						<tr>
							<td class="success  text-right">1~2일 (24시간)</td>
							<td>80,000</td>
						</tr>
						<tr>
							<td class="success  text-right">3~4일 (24시간)</td>
							<td>75,000</td>
						</tr>
						<tr>
							<td class="success  text-right">5~6일 (24시간)</td>
							<td>70,000</td>
						</tr>
						<tr>
							<td class="success text-right">7일+ (24시간)</td>
							<td>65,000</td>
						</tr>
						<tr>
							<td class="success text-right">(1시간마다)</td>
							<td>7,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-4 col-sm-4 hidden-xs">
		<div style="margin-top:10px; margin-bottom: 10px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/lf_sonata.png">
						</td>
						<td class="car-info">
							<div class="title">LF소나타 <label> (LPG)</label></div>
							<div class="price">
								<label><span class="title">주중 </span><span class="number">80,000원</span></label>
								<label><span class="title">주말 </span><span class="number">90,000원</span></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 visible-xs car-info-xs">
		<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td style="text-align: center">
							<div class="title">LF소나타 <label> (LPG)</label></div>
						</td>
					</tr>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/lf_sonata.png">
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<div class="price">
								<label><span class="title">주중 </span><span class="number">80,000원</span></label>
								<label><span class="title">주말 </span><span class="number">90,000원</span></label>
							</div>
							<div class="visible-xs">
								<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_LF">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal" id="detial_price_LF" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><label>LF소나타</label> <label> (LPG)</label></h4>
					<table class="table table-center">
						<tr>
							<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/lf_sonata.png"></p></td>
						</tr>
						<tr>
							<td class="success  text-right">1~2일 (24시간)</td>
							<td>80,000</td>
						</tr>
						<tr>
							<td class="success  text-right">3~4일 (24시간)</td>
							<td>75,000</td>
						</tr>
						<tr>
							<td class="success  text-right">5~6일 (24시간)</td>
							<td>70,000</td>
						</tr>
						<tr>
							<td class="success text-right">7일+ (24시간)</td>
							<td>65,000</td>
						</tr>
						<tr>
							<td class="success text-right">(1시간마다)</td>
							<td>7,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-4 hidden-xs">
		<div style="margin-top:10px; margin-bottom: 10px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/grandure_hg.png">
						</td>
						<td class="car-info">
							<div class="title">그랜져 HG <label> (가솔린/LPG)</label></div>
							<div class="price">
								<label><span class="title">주중 </span><span class="number">105,000원</span></label>
								<label><span class="title">주말 </span><span class="number">120,000원</span></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 visible-xs car-info-xs">
		<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td style="text-align: center">
							<div class="title">그랜져 HG <label> (가솔린/LPG)</label></div>
						</td>
					</tr>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/grandure_hg.png">
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<div class="price">
								<label><span class="title">주중 </span><span class="number">105,000원</span></label>
								<label><span class="title">주말 </span><span class="number">120,000원</span></label>
							</div>
							<div class="visible-xs">
								<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_NewGrandeurHG">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



	<div class="modal" id="detial_price_NewGrandeurHG" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><label>그랜져 HG</label> <label> (가솔린/LPG)</label></h4>
					<table class="table table-center">
						<tr>
							<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/grandure_hg.png"></p></td>
						</tr>
						<tr>
							<td class="success  text-right">1~2일 (24시간)</td>
							<td>105,000</td>
						</tr>
						<tr>
							<td class="success  text-right">3~4일 (24시간)</td>
							<td>100,000</td>
						</tr>
						<tr>
							<td class="success  text-right">5~6일 (24시간)</td>
							<td>90,000</td>
						</tr>
						<tr>
							<td class="success text-right">7일+ (24시간)</td>
							<td>80,000</td>
						</tr>
						<tr>
							<td class="success text-right">(1시간마다)</td>
							<td>10,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-4 col-sm-4 hidden-xs">
		<div style="margin-top:10px; margin-bottom: 10px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/genesis.png">
						</td>
						<td class="car-info">
							<div class="title">제네시스 신형 <label> (가솔린)</label></div>
							<div class="price">
								<label><span class="title">주중 </span><span class="number">200,000원</span></label>
								<label><span class="title">주말 </span><span class="number">220,000원</span></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 visible-xs car-info-xs">
		<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td style="text-align: center">
							<div class="title">제네시스 신형 <label> (가솔린)</label></div>
						</td>
					</tr>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/genesis.png">
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<div class="price">
								<label><span class="title">주중 </span><span class="number">200,000원</span></label>
								<label><span class="title">주말 </span><span class="number">220,000원</span></label>
							</div>
							<div class="visible-xs">
								<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_NewGenesis">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



	<div class="modal" id="detial_price_NewGenesis" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><label>제네시스 신형</label> <label> (가솔린)</label></h4>
					<table class="table table-center">
						<tr>
							<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/genesis.png"></p></td>
						</tr>
						<tr>
							<td class="success  text-right">1~2일 (24시간)</td>
							<td>200,000</td>
						</tr>
						<tr>
							<td class="success  text-right">3~4일 (24시간)</td>
							<td>200,000</td>
						</tr>
						<tr>
							<td class="success  text-right">5~6일 (24시간)</td>
							<td>220,000</td>
						</tr>
						<tr>
							<td class="success text-right">7일+ (24시간)</td>
							<td>170,000</td>
						</tr>
						<tr>
							<td class="success text-right">(1시간마다)</td>
							<td>20,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-sm-4 hidden-xs">
		<div style="margin-top:10px; margin-bottom: 10px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/allnew_carnival.png">
						</td>
						<td class="car-info">
							<div class="title">올뉴카니발 신형 <label> (경유)</label></div>
							<div class="price">
								<label><span class="title">주중 </span><span class="number">130,000원</span></label>
								<label><span class="title">주말 </span><span class="number">150,000원</span></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 visible-xs car-info-xs">
		<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td style="text-align: center">
							<div class="title">올뉴카니발 신형 <label> (경유)</label></div>
						</td>
					</tr>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/allnew_carnival.png">
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<div class="price">
								<label><span class="title">주중 </span><span class="number">130,000원</span></label>
								<label><span class="title">주말 </span><span class="number">150,000원</span></label>
							</div>
							<div class="visible-xs">
								<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_AllNewCarnival">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



	<div class="modal" id="detial_price_AllNewCarnival" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><label>올뉴카니발 신형</label> <label> (경유)</label></h4>
					<table class="table table-center">
						<tr>
							<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/allnew_carnival.png"></p></td>
						</tr>
						<tr>
							<td class="success  text-right">1~2일 (9시~21시)</td>
							<td>130,000</td>
						</tr>
						<tr>
							<td class="success  text-right">3~4일 (9시~21시)</td>
							<td>120,000</td>
						</tr>
						<tr>
							<td class="success  text-right">5~6일 (9시~21시)</td>
							<td>120,000</td>
						</tr>
						<tr>
							<td class="success text-right">7일+ (9시~21시)</td>
							<td>110,000</td>
						</tr>
						<tr>
							<td class="success text-right">(1시간마다)</td>
							<td>15,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-4 col-sm-4 hidden-xs">
		<div style="margin-top:10px; margin-bottom: 10px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/grand_starex.png">
						</td>
						<td class="car-info">
							<div class="title">그랜드 스타렉스 신형 <label> (경유)</label></div>
							<div class="price">
								<label><span class="title">주중 </span><span class="number">100,000원</span></label>
								<label><span class="title">주말 </span><span class="number">120,000원</span></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-xs-6 visible-xs car-info-xs">
		<div style="margin-top:10px; margin-bottom: 10px; height: 300px;">
			<table style="height: 100%;">
				<tbody>
					<tr>
						<td style="text-align: center">
							<div class="title">그랜드 스타렉스 신형 <label> (경유)</label></div>
						</td>
					</tr>
					<tr>
						<td class="car-image">
							<img src="/assets/img/car/grand_starex.png">
						</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<div class="price">
								<label><span class="title">주중 </span><span class="number">100,000원</span></label>
								<label><span class="title">주말 </span><span class="number">120,000원</span></label>
							</div>
							<div class="visible-xs">
								<button type="button" class="btn btn-primary centered" data-toggle="modal" data-target="#detial_price_NewGrandStarex">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>세부가격보기
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



	<div class="modal" id="detial_price_NewGrandStarex" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><label>그랜드 스타렉스 신형</label> <label> (경유)</label></h4>
					<table class="table table-center">
						<tr>
							<td colspan="2"><p class="text-center"><img style="height: 100px; width: auto" src="/assets/img/car/grand_starex.png"></p></td>
						</tr>
						<tr>
							<td class="success  text-right">1~2일 (9시~21시)</td>
							<td>100,000</td>
						</tr>
						<tr>
							<td class="success  text-right">3~4일 (9시~21시)</td>
							<td>95,000</td>
						</tr>
						<tr>
							<td class="success  text-right">5~6일 (9시~21시)</td>
							<td>90,000</td>
						</tr>
						<tr>
							<td class="success text-right">7일+ (9시~21시)</td>
							<td>90,000</td>
						</tr>
						<tr>
							<td class="success text-right">(1시간마다)</td>
							<td>10,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
