<a class="anchor" name="event_car" id="event_car"></a>

<div class="row">
	<div class="col-md-12" style="height: 3px; background-color: black;"></div>

	<div class="col-md-12" style="background-color: #eeeeee; padding-bottom:10px;">
		<div class="row">
			<div class="col-md-offset-1 col-md-3 col-sm-12">
				<h2>이벤트</h2>
			</div>

			<div class="col-md-8 col-sm-12 hidden-sm hidden-xs">
				<h2><small>안정감과 편안함을 추구하는 {{ site.data.pages.company.name }}</small></h2>
			</div>
		</div>
	</div>

	<div class="col-md-12" style="height: 1px; background-color: #ccc;"></div>
</div>

<div class="row">
	<img src="/assets/img/event/event_{{ site.data.pages.event }}.png">
</div>
