<nav class="stack-nav col-lg-2 hidden-print hidden-xs hidden-sm hidden-md">
	<div class="fixed navbar-scroll-spy">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#event_car" class="list-group-item"><span class="glyphicon glyphicon-gift"></span>&nbsp;&nbsp;&nbsp;이벤트</a></li>
			<li><a href="#domestic_car" class="list-group-item"><span class="icon-automobile"></span>&nbsp;&nbsp;&nbsp;주요 차량</a></li>
			<li><a href="#detail_price" class="list-group-item"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;&nbsp;세부가격표</a></li>
			<li><a href="#service_info" class="list-group-item"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp;서비스 안내</a></li>
			<li><a href="#rent_guide" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;&nbsp;대여 가이드</a></li>
			<li><a href="#caution" class="list-group-item"><span class="glyphicon glyphicon-alert"></span>&nbsp;&nbsp;&nbsp;주의사항</a></li>
			<li><a href="#location" class="list-group-item"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;&nbsp;오시는길</a></li>
			<li>
				<button href="tel:010-5055-3109" class="list-group-item">
					<span class="name"><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;&nbsp;상담 및 문의</span>
					{% for number in site.data.pages.tel.numbers %}
						<a href="tel:{{ number }}"><div class="tel text-center">{{ number }}</div></a>
					{% endfor%}
				</button>
			</li>
		</ul>
	</div>
</nav>

<nav class="navbar-fixed-top hidden-print hidden-lg">
	<div class="container">
		<div class="left rira-log">
			<a href="tel:1800-8068">
				<span class="hidden-xs title">{{ site.data.pages.company.name }}</span>
			</a>
		</div>

		<div class="right navbar-comapny-phone">
			<span class="hidden-xs title">대표번호</span>
			<span class="glyphicon glyphicon-phone-alt"></span>
			<a href="tel:{{ site.data.pages.tel.main_tel }}">
				<span class="phone-number">{{ site.data.pages.tel.main_tel }}</span>
			</a>
		</div>
	</div>
</nav>

<nav class="navbar-fixed-bottom  hidden-print hidden-lg" >
	<div class=" navbar-scroll-spy">
		<div class="row centered">
			<ul class="nav nav-pills">
				<li><a href="#home" class="btn btn-default navbar-btn">홈</a></li>
				<li><a href="#domestic_car" class="btn btn-default navbar-btn">가격</a></li>
				<li><a href="#service_info" class="btn btn-default navbar-btn">안내</a></li>
				<li><a href="#location" class="btn btn-default navbar-btn">오시는길</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="navbar-fixed-top hidden-print hidden-lg menu-glow"></div>
