<a class="anchor" name="rent_guide" id="rent_guide"></a>

<div class="row">
	<div class="col-md-12" style="height: 3px; background-color: black;"></div>

	<div class="col-md-12" style="background-color: #eeeeee; padding-bottom:10px;">
		<div class="row">
			<div class="col-md-offset-1 col-md-3 col-sm-12">
				<h2>대여가이드</h2>
			</div>

			<div class="col-md-8 col-sm-12 hidden-sm hidden-xs">
				<h2><small>안정감과 편안함을 추구하는 {{ site.data.pages.company.name }}</small></h2>
			</div>
		</div>
	</div>

	<div class="col-md-12" style="height: 1px; background-color: #ccc;"></div>
</div>

<div class="contents">
	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-xs-12 col-sm-12 col-md-10">
			<h2 style="margin-left:-8px; margin-right:-8px;"><label>서울 전지역 배회차무료</label>/<label>전차종 네비게이션장착</label></h2>

			<ol class="rounded-list">
				<li>
					<a>승용 승합차(전차종) 단기 장기 렌트카 대여전문업체</a>
					<ul>
						<li>기업체, 업무용 장기 렌트가 계약 환영(월, 년차)</li>
						<li>렌트가 사용횟수에 따라 할이혜택부여</li>
						<li>주중에 렌트가 사용시 10%할인</li>
					</ul>
				</li>
				<li>
					<a>관광버스 단기 장기 렌트카 대여전문업체 (25인승, 35인승 45인승)</a>
					<ul>
						<li>관광버스 맞춤예약</li>
					</ul>
				</li>

				<li>
					<a>각종 화물차량 취급 (1ton ~ 25 ton)</a>
					<ul>
						<li>공공기관 대기업 물류 수송</li>
						<li>카고 - 냉탑취급</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-xs-12 col-sm-12 col-md-10">
			<h2><lable>쉽고 간편하게!</lable> <label>대여 신청!</label></h2>

			<ol class="rounded-list">
				<li>
					<a>대여신청</a>
					<ul>
						<li>대여지점 카운터 또는 차량을 받으시는 장소에서 직원의 안내에 따라 예약자의 성명을 말씀해 주세요.</li>
						<li>렌트가 사용횟수에 따라 할인혜택부여</li>
						<li>주중에 렌트가 사용시 10%할인</li>
					</ul>
				</li>

				<li>
					<a>본인확인</a>
					<ul>
						<li>
							렌트를 처음 이용하시는 고객님께서는 주미등록증을 제시하시고 본인 확인 절차에 협조해 주시면 됩니다.
							<br>(차량 임대차 계약서 작성을 위한 정보입력 및 대여자격 확인을 위해 면허증을 제시해 주시면 됩니다.)
						</li>
					</ul>
				</li>

				<li>
					<a>렌트비용결제</a>
					<ul>
						<li>차량렌트비용은 현금 또는 계좌이체, 신용카드로 차종 및 대여기간에 따라 책정된 렌트 금액을 결제해주시면 됩니다.</li>
					</ul>
				</li>

				<li>
					<a>차량인수</a>
					<ul>
						<li>
							예약한 차량의 내외부로 세차상태, 작동상태, 유량, 소모품등을 꼼꼼히 체크하시고, 차량 임대차 계약서에 서명을 하신 후 차량을 인수 받으시면 됩니다.
						</li>
					</ul>
				</li>

				<li>
					<a>차량반납</a>
					<ul>
						<li>
							차량 이상 유우 확인 후 KEY를 반납해 주시면 됩니다.
						</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>
</div>