<a class="anchor" name="service_info" id="service_info"></a>

<div class="row">
	<div class="col-md-12" style="height: 3px; background-color: black;"></div>

	<div class="col-md-12" style="background-color: #eeeeee; padding-bottom:10px;">
		<div class="row">
			<div class="col-md-offset-1 col-md-3 col-sm-12">
				<h2>서비스안내</h2>
			</div>

			<div class="col-md-8 col-sm-12 hidden-sm hidden-xs">
				<h2><small>안정감과 편안함을 추구하는 {{ site.data.pages.company.name }}</small></h2>
			</div>
		</div>
	</div>

	<div class="col-md-12" style="height: 1px; background-color: #ccc;"></div>
</div>

<div class="contents">
	<div class="row">
		<table class="col-md-12 visible-md visible-lg">
			<tr>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_01.png">
						<div class="caption title text-center">
							무료 배회차<br>서비스
						</div>
					</div>
				</td>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_02.png">
						<div class="caption title text-center">
							전차종 무료<br>네비게이션<br>장착
						</div>
					</div>
				</td>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_03.png">
						<div class="caption title text-center">
							후방 센서 장착
						</div>
					</div>
				</td>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_04.png">
						<div class="caption title text-center">
							간편한 블루투스 or<br> AUX 케이블 제공
						</div>
					</div>
				</td>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_05.png">
						<div class="caption title text-center">
							차랑용 충전기
						</div>
					</div>
				</td>
			</tr>
		</table>

		<table class="col-sm-12 visible-sm">
			<tr>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_01.png">
						<div class="caption title text-center">
							무료 배회차<br>서비스
						</div>
					</div>
				</td>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_02.png">
						<div class="caption title text-center">
							전차종 무료<br>네비게이션<br>장착
						</div>
					</div>
				</td>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_03.png">
						<div class="caption title text-center">
							후방 센서 장착
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_04.png">
						<div class="caption title text-center">
							간편한 블루투스 or<br> AUX 케이블 제공
						</div>
					</div>
				</td>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_05.png">
						<div class="caption title text-center">
							차랑용 충전기
						</div>
					</div>
				</td>
			</tr>
		</table>

		<table class="col-xs-12 visible-xs">
			<tr>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_01.png">
						<div class="caption title text-center">
							무료 배회차<br>서비스
						</div>
					</div>
				</td>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_02.png">
						<div class="caption title text-center">
							전차종 무료<br>네비게이션<br>장착
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_03.png">
						<div class="caption title text-center">
							후방 센서 장착
						</div>
					</div>
				</td>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_04.png">
						<div class="caption title text-center">
							간편한 블루투스 or<br> AUX 케이블 제공
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="thumbnail no-padding service-info">
						<img src="/assets/img/service_info_05.png">
						<div class="caption title text-center">
							차랑용 충전기
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
