{% assign current_main_menu = site.data.pages.menus[page.main_menu] %}
{% assign current_sub_menu = site.data.pages.menus[page.menu][page.sub_menu] %}

<div class="title">{{ current_main_menu.title }}</div>
<ul class="nav-menu">
  {% for sub_menu in current_main_menu.sub_menus %}
    <li><a href="/{{ sub_menu[1].url }}">{{ sub_menu[1].name }}</a></li>
  {% endfor %}
</ul>
<div class="phone"> 
  <div style="font-size: 26px; margin-bottom: 8px; text-decoration: underline;">고객센터</div>
  <div style="font-size: 22px;">1800-8068</div>
  <div style="font-size: 22px;">070-4134-3106</div>
  <div style="font-size: 22px;">010-5699-3106</div>
</div>