  
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body { 
  padding-top: 120px; 
  background: url(../img/bg.jpg) repeat;
  color: white;
  font-family: 'Nanum Gothic', serif;
}

a:link {
    color: #CCC;
    text-decoration: none;
}

a:visited {
    color: #CCC;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: 1200px;
  margin: auto;
}

.container .col-2 {
  float: left; 
  width: 190px;
  margin-left: 5px;
  margin-right: 5px;
}

.container .col-10 {
  float: left; 
  width: 990px;
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  clear: both; 
}

.main-nav {
  height:100px;
  width:100%;
  padding: 0px;
  background: black;
  position:fixed;top:0;left:0;z-index:10;
}

.main-nav .nav {
  float: left; 
}

.main-nav .nav-phone {
  margin-top: 23px;
  float: right;
  font-weight: bold;
  font-size: 20px;
  color: #fc0;
  float: left;
}

.main-nav .nav-menu {
  margin-top: 40px;
}

.main-nav .nav-menu li {
  display:inline;
  margin-right: 20px;
  font-size: 20px;
}

.main-nav .nav-brand {
  width: 200px;
  margin-top: 15px; 
  margin-right: 30px;
}

.main-nav .nav-brand img{
  width: 100%;
}

.footer .detail div{
  margin-top: 5px;
  font-size: 12px;
}

.page-body {
  margin-bottom: 40px;
  min-height: 500px;
  background-color: #25262A;
}

.side {
  padding: 0px;
  height: 100%;
}

.side .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.side .nav-menu {
  font-size: 16px;
  color: #aaa;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #141414;
  list-style: none;
  list-style-position: inside;
  padding-left:0;
}

.side .nav-menu li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 2px solid #555;
}

.side .phone {
  margin: 23px 15px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #fc0;
}

.content {
  margin: 20px;
  width: 95%;
}

.content .content-title {
  border: 10px solid #121212;
  padding: 20px;
  margin-bottom: 20px;
}

.content .content-title .main-menu {
  margin-bottom: 10px;
  font-size: 14px;
  color: #aaa; 
}

.content .content-title .sub-menu {  
  font-size: 24px;
}

.content .content-body {
  border: 1px solid #666;
  background-color: #111;  
  padding: 40px;
}

#home-slider {
  clear: both; 
  margin-top: 20px;
  margin-bottom: 20px;
}

#home-products {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -5px;
  margin-right: -5px;
  height: 100px;
}

#home-products .product{
  float: left; 
  width: 130px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 12px;
}

#home-products img{
  background-color: #eee;
  border: 1px solid black;
}

#page-header-slider {
  clear: both; 
  margin: 0px;
}

table .reng_price {
  width: 100%; 
  border: 0px solid #fff;
}

table .reng_price td {
  padding: 20px 15px;font-size: 28px;
  border-bottom: 1px solid #444;
}
