<!DOCTYPE html>
<html lang="ok">
  {% include head.html %}

  <body>
    {% include header.html %}

    <script>
      $(function(){
          $('#page-header-slider').slick({
            autoplay:true,
            autoplaySpeed:3000
          });
      });
    </script>

    <div class="container page-body">
        <div>
          <div id="page-header-slider">
            {% for slider in site.data.pages.header_sliders %}
                <div><img src="/assets/img/page/{{ slider }}"></div>
            {% endfor %}
          </div>
        </div>
        <table style="width: 100%;">
          <tr>
            <td style="vertical-align: top; width: 200px; background-color: black;">
              <div class="side">
                {% include side.html %}
              </div> 
            </td>
            <td style="vertical-align: top;">
              <div class="content">
                <div class="content-title">
                  {% assign main_menu = site.data.pages.menus[page.main_menu] %}
                  {% assign sub_menu = main_menu.sub_menus[page.sub_menu] %}
                  <div class="main-menu">{{ main_menu.title }}</div>
                  <div class="sub-menu">{{ sub_menu.name }}</div>
                </div>
                <div class="content-body">
                  {{ content }}
                <div>
              </div>
            </td>
          </tr>
        </table>
    </div>

    {% include footer.html %}
  </body>
</html>
